*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.navbar-area{
    height: 70px;
    background-color:#FFFFFF;
    box-shadow: 2px 2px 2px 1px whitesmoke inset;
    border: 2px solid whitesmoke;  
}
.navbar-area .navbar-container{
    height: 70px;
    width: 1200px;
    background:;
    margin: 0px auto;
    display: flex;
}
.navbar-container .logo{
    width:200px;
    height: 70px;
    background:;
    text-align: center;  
}
.navbar-container .logo img{
    height: 60px;
    width: 100px;
}
.navbar-container .menu{
    width: 500px;
    height: 70px;
    background:;
} 
.navbar-container .menu ul {
    display: flex;
    margin-left:50px;
}
.navbar-container .menu ul li{
    font-size:18px;
    margin:24px 20px;
}
.navbar-container .menu ul li:hover a{
    text-decoration: underline 3px solid #5669FF;
    color:#5669FF;
    transition: all linear 0.1s;
}
.navbar-container .btn-div{
    width: 150px;
    height: 70px;
    background: ;
    margin-left:350px;
}
.navbar-container .btn-div .btn{
    padding: 10px;
    margin:16px 0px 16px 62px;
    font-size: 14px;
    border-radius: 7px;
    transition: all linear 0.2s;
}
.navbar-container .btn-div .btn:hover{
    background: #5669FF;
    cursor:pointer;
}
/* hero area start */
.hero-area{
   height:420px;
   background-color:#FFFFFF;
}
.hero-area .hero-container{
    width: 1200px;
    height: 420px;
    margin: 0 auto;
    background-color: ;
    display: flex;
}
.hero-container .hero-text{
    width: 600px;
    height:420px;
    background-color: ;
}
.hero-text .text-part{
    position: relative;
    width: 300px;
    top: 100px;
    left:100px;
}
.hero-text .text-part img{
    height: 25px;
}
.hero-text .text-part .text-heading{
    display: inline-block;
    margin-bottom: 15px;
}
.hero-text .input-part{
    position: relative;
    top:120px;
    left:100px;
}
.hero-text .input-part input{
    padding:8px 10px;
    position: relative;
}
.hero-text .input-part button{
    position:absolute;
    left:150px;
    top:5.5px;
    padding:2px 8px;
    border-radius:5px;
    cursor: pointer;
    transition: all linear 0.4s;
}
.hero-text .input-part button:hover{
    background-color: #5669FF;
}
.hero-text .color-part{
    color:#6172FF;
}
.hero-container .hero-banner{
    width: 600px;
    height: 420px;
    background-color:;
    position: relative;
}
.hero-container .hero-banner .img-1{
    height:420px;
    width:300px;
    rotate: 10deg;
    position: absolute;
    left:150px;
}
.hero-container .hero-banner .img-2{
    height:420px;
    width:300px;
    rotate: 5deg;
    position:absolute;
    left:300px;
    
}
/* hero area end */
/* service area start */
.service-area{
    height: 530px;
    background-color:gold;
}
.service-area .service-container{
    height: 530px;
    width: 1200px;
    margin:0px auto;
    background-color: chocolate;
}
.service-container .service-text
{
    text-align: center;
}
.service-text .sevice-heading{
    font-size: 40px;
}
.service-text .sevice-heading .heading-color{
    color:#6B7CFF;
}
.service-text .service-para{
    font-size: 15px;
}
.service-container .service-icon{
    height: 370px;
    width: 1200px;
    background-color:blueviolet;
    margin-top: 20px;
    
}
.service-icon .service-icon-part-1{
    height: 180px;
    width: ;
    background-color: darkred;
    display: flex;
    margin-bottom: 10px;
}
.service-icon-part-1 .single-service-icon{
    width:375px;
    background-color: cyan;
    margin: 0px 18.75px;
    text-align: center;
}
.service-icon .service-icon-part-2{
    height: 180px;
    width: ;
    background-color: crimson;
    display: flex;
}
.service-icon-part-2 .single-service-icon{
    width:375px;
    background-color: rgb(21, 255, 0);
    margin: 0px 18.75px;
    text-align:center;
}
.single-service-icon img{
    margin-top:20px;
}
.single-service-icon .service-icon-heading{
    margin-top:10px;
}
.single-service-icon .service-para{
    margin-top:10px;
    font-size: 15px;
}
.service-container .service-button{
    height: 60px;
    width: 1200px;
    background-color: chartreuse;
    text-align: center;
}
.service-container .service-button .btn{
    padding:8px 12px;
    border-radius: 10px;
    margin-top:20px;
    cursor: pointer;
    transition: all linear 0.4s;
}
.service-container .service-button .btn:hover{
    background-color:#5669FF;
}
/* service area end */
/* get app area start */
.get-app-area{
    height:500px;
    background-color: chocolate;
}
.get-app-area .get-app-container{
    height: 500px;
    width: 1200px;
    background-color: cadetblue;
    margin:0 auto;
    display: flex;
}
.get-app-container .get-app-banner{
    height: 500px;
    width:600px;
    background-color:cyan;
    position: relative;

}
.get-app-banner .banner-holder{
    height: 380px;
    width: 380px;
    background-color: coral;
    border-radius:100%;
    position: absolute;
    bottom: 0;
    left:100px;
}
.get-app-banner .banner-holder img{
    height: 440px;
    width: 250px;
    position: absolute;
    left:65px;
    top:-110px;
}
.get-app-container .get-app-text{
    height:500px;
    width: 600px;
    background-color: crimson;
}
.get-app-container .get-app-text .heading-color{
    color:#5669FF;

}
.get-app-container .get-app-text .download-para{
    margin-top:200px;
    margin-left: 100px;
    font-size: 18px;
}
.get-app-container .get-app-text .get-app-heading{
    margin-left: 100px;
    margin-top: 10px;
}
.get-app-container .get-app-text .get-app-text-para{
    margin-left: 100px;
    margin-top: 10px;
    font-size: 15px;
    font-family: sans-serif;
}
.get-app-text .text-banner{
    margin-left: 100px;
    margin-top: 20px;
}
.get-app-text .text-banner .playstore{
    height: 40px;
    margin-right: 15px;
}
.get-app-text .text-banner .app-store{
    height: 40px;
}

/* get app area end */
/* information area start */
.information-area{
    height: 340px;
   background-color: darkolivegreen;
}
.information-area .information-container{
    height: 340px;
    width: 1200px;
    background-color: darkblue;
    margin:0 auto;
    display: flex;
    
}
.information-container .information-text{
    height: 340px;
    width:600px;
    background-color: darkmagenta;
}
.information-container .information-text .information-para{
    font-size:18px;
    position:relative;
    top: 15px;
    left:100px;
}
.information-container .information-text .heading-color{
    color:#5669FF;
 
}
.information-container .information-text .information-heading{
    font-size: 40px;
    position:relative;
    top:15px;
    left:100px;
}
.information-text .single-information{
    display: flex;
    margin-top:30px;
    margin-left: 100px;
}
.information-text .single-information .single-para{
    font-size: 15px;
    font-family: sans-serif;
    text-align: left;
}
.information-text .single-information img{
    margin-right: 10px;
    height: 25px;
}
.information-text .btn{
    padding:8px 12px;
    border-radius: 10px;
    margin-top:20px;
    cursor: pointer;
    margin-left:135px;
}
.information-text .btn:hover{
    background-color: #5669FF;
}
.information-container .information-banner{
    height: 340px;
    width: 600px;
    background-color: darkgreen;
}
.information-banner .Berita-page{
    height: 335px;
    width: 220px;
    position: relative;
    left:150px;
}
.information-banner .date-page{
    height: 280px;
    width:220px;
}
/* information area end */
/* contact area start */
.contact-area{
    height: 350px;
    width: ;
    background-color:;
}
.contact-area .contact-container{
    height: 350px;
    width: 1200px;
    background-color:;
    margin:0 auto;
    text-align: center;
    display: flex;
    box-shadow:3px 3px 2px 2px whitesmoke inset;
    border:2px solid whitesmoke;
}
.contact-container .contact-heading{
    width: 100px;
    position:relative;
    top:15px;
    left:550px; 
    font-size:25px;
}
.contact-container .contact-form{
    height: 300px;
    width: 600px;
    background-color:;
    position: relative;
    top:50px;
}
.contact-container .contact-form .form-heading{
    margin-left:-215px;
}
.contact-form form{
    margin-left: 100px;
    position: relative;
}
.contact-form form .single-form{
    margin-top: 20px;
    position: absolute;
}
.contact-form form .single-form input{
    padding: 5px 18px;
}
.contact-form form textarea{
    top:70px;
    left:-127px;
    position: relative;
}
.contact-form form .single-form button{
    padding: 5px 85px;
    margin-top:100px;
    border-radius: 10px;
    cursor:pointer;
}
.contact-form form .single-form button:hover{
    background-color:#5669FF;
}
.contact-form form fieldset{
    width: 200px;
}
form fieldset legend{
margin-left:-70px;
}
.contact-form form .input-name input{
    padding: 5px 10px;
    border:none;
}
.contact-container .contact-text{
    height:300px ;
    width:600px;
    background-color:;
    position: relative;
    top:50px;
}
.contact-text .contact-single-icon{
    margin-top: 15px;
    margin-left: 10px;
    display: flex;
}
.contact-single-icon i{
    margin-right: 10px;
}
.contact-text .group-icon{
    margin-left: -400px;
    margin-top: 15px;
}
.contact-text .group-icon i{
    margin-right:12px ;
}
.contact-text iframe{
    height: 120px;
    width: 300px;
    margin-left: -220px;
    margin-top: 20px;
}
/* contact area end */